$small: 480px;
$medium: 798px;
$large: 799px;
$larger: 960px;
$xlarge: 1400px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == "small" {
    @media (max-width: $small) {
      @content;
    }
  }

  @else if $breakpoint == "medium" {
    @media (max-width: $medium) {
      @content;
    }
  }

  @else if $breakpoint == "large" {
    @media (min-width: $large) {
      @content;
    }
  }

  @else if $breakpoint == "larger" {
    @media (min-width: $larger) {
      @content;
    }
  }

  @else if $breakpoint == "xlarge" {
    @media (min-width: $xlarge) {
      @content;
    }
  }

  @else if $breakpoint == "ie10+" {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  }
  @else if $breakpoint == "tablet" {
    @media only screen and (min-width: 799px) and (max-width: 1024px){
      @content;
    }
  }
  @else if $breakpoint == "tablet-down" {
    @media only screen and (max-width: 1024px){
      @content;
    }
  }
  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-wrapper{
  padding: 2.5px;
  @include respond-to('large'){
    width: 50%;
  }
  @include respond-to('xlarge'){
    width: 33.3%;
  }
  @include respond-to('medium'){
    width: 100%;
  }
  @include respond-to('small'){
    width: 100%;
  }
}


.ventures-titles{
  padding: 25px 0 0 50px;
  text-align: left;
  font-size: 1.2em;
  font-weight: 700;
}

.venture-cards{
  margin: 10px;
  background: rgb(255, 255, 255);
}


.info-header{
  padding: 3px 0 0 0;
}

.social-icon-container {
  display: flex;
  justify-content: center;
}

.social-icons {
  margin:10px 3px 0 3px;
}

.info-wrapper{
  position: relative;
  margin-top: -34px;
  padding-top: 30px;
  background-size: cover;
}

.info-container{
  padding: 10px;
}

.venture-name {
  background-color: rgba(83, 83, 83, 0.925);
  margin-top: -35px;
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding: 10px;
}

.venture-description {
  margin-bottom: 10px;
  padding: 5px 8px 8px 8px;
  text-align: left;
  font-size: 14px;
  line-height: 1.4;
}